#home {
    min-height: 100vh;
    background: url("../img/hyacinth-747131_960_720.jpg") no-repeat center center/cover;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home p
{
  font-size: 25px;

}
section 
{
    padding: 0px;
}
